label {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: rgb(228, 204, 204);
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

label .btn {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: all 1s;
}

label input:checked + .btn {
  left: 23px;
  background-color: #2196F3;

}

input {
  display: none;
}


input:focus + .btn {
  box-shadow: 0 0 1px #fff;
}

input:checked + .btn:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


